<h1>Home: Danh sách các sản phẩm</h1>
<button (click)="addProduct()">Thêm mới sản phẩm</button>
<input type="text" placeholder="Tìm kiếm sản phẩm theo tên..." [(ngModel)]="searchTerm" (ngModelChange)="onSearch()">
<hr>

<h2>Danh sách sản phẩm</h2>
<div *ngIf="products.length > 0">
    <div *ngFor="let product of products" class="product-item">
        <h4>{{ product.title }}</h4>
        <p>ID: {{ product.id }} | Price: {{ product.price }}</p>
        <p>{{ product.description | slice:0:150 }}...</p>

        <button (click)="goToProductDetail(product.id)">Xem Chi Tiết</button>
        <button (click)="editProduct(product.id)">Sửa sản phẩm</button>
        <!--<a [routerLink]="['/products', product.id]">Xem Chi Tiết</a>-->
    </div>
</div>