<h1>Home: Danh sách các sản phẩm</h1>
<button (click)="addProduct()">Thêm mới sản phẩm</button>
<hr>

<h2>5 sản phẩm tiêu biểu</h2>
<div *ngIf="posts.length > 0">
    <div *ngFor="let post of posts" class="post-item">
        <h4>{{ post.title }}</h4>
        <p>ID: {{ post.id }} | Price: {{ post.price }}</p>
        <p>{{ post.description | slice:0:150 }}...</p>

        <button (click)="goToProductDetail(post.id)">Xem Chi Tiết</button>
        <button (click)="editProduct(post.id)">Sửa sản phẩm</button>
        <!--<a [routerLink]="['/products', post.id]">Xem Chi Tiết</a>-->
    </div>
</div>